.body-container {
    margin: 20px;
  }
  
  /* Tambahkan CSS untuk kolom pertama */
  .column {
    margin-right: 20px;
  }
  
  /* Tambahkan CSS untuk gambar */
  .image img {
    width: 4000px;
    height: auto;
  }
  
  /* Tambahkan CSS untuk deskripsi */
  .description {
    padding: 20px;
    border-radius: 5px;
  }
  