.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #081b14;
  font-weight: 400;
}

/* Media query untuk header responsif */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .nav {
    margin-top: 20px;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav li {
    margin: 10px 0;
  }
}

.nav-link {
  margin-right: 20px; /* Atur sesuai kebutuhan Anda */
}

.nav-link.active {
  border-bottom: 2px solid teal; /* Anda dapat menyesuaikan warna dan ketebalan garis sesuai kebutuhan */
}