.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tambahkan CSS untuk body-container */
.body-container {
  margin: 20px;
}

/* Tambahkan CSS untuk kolom pertama */
.column {
  margin-right: 20px;
}

/* Tambahkan CSS untuk gambar */
.image img {
  width: 4000px;
  height: auto;
}

/* Tambahkan CSS untuk deskripsi */
.description {
  padding: 20px;
  border-radius: 5px;
}

